@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

@font-face {
    font-family: "Myriad Pro Bold Condensed";
    src: url('./fonts/Myriad-Pro-Bold-Condensed.ttf');
}
@font-face {
    font-family: "Quadon Bold";
    src: url('./fonts/Quadon-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.banner {
    width: 970px;
    height: 250px;
    border: 1px solid #d2d2d2;
    background-image: url('./img/Background-970-251.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

/* MAIN TEXT */
.main-text-container {
    height: 190px;
    margin: 20px 20px 20px 40px;
    width: 500px;
    align-self: center;
    line-height: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-text-container h1 {
    font-family: "Myriad Pro Bold Condensed", 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 53px;
    letter-spacing: -1.2px;
    /* line-height: 1.05; */
    /* margin-top: 10px; */
}

.main-text-container h2 {
    color: #a20000;
    font-family: "Quadon Bold";
    text-transform: capitalize;
    font-size: 83px;
    line-height: -0.8px;
    margin-top: -10px;
}

.main-text-container a {
    text-decoration: none;
    color: #000;
    font-family: "Myriad Pro Bold Condensed", 'PT Sans Narrow', sans-serif;
    font-size: 48px;
}

/* PHONE */
.phone-container {
    width: 120px; 
    height: auto;
    overflow: hidden;
}

.phone {
    position: relative;
    margin: 0 auto;
}

.phone img {
    position: absolute;
    z-index: 1000;
    height: 235px;
    margin-top: 6px;
}

/* VIDEO */
#video {
    object-fit: fill;
    position: absolute;
    left: 0.9px;
    top: 16px;
    height: 215px;
    width: 109px;
}

/* LOGO */
.company-logo-container {
    width: 280px;
    height: 190px;
    align-self: center;
    margin: 0 20px;
}

.company-logo-container img {
    height: 100%;
    /* width: auto; */
    /* text-align: center; */
    margin: 0 auto;
    display: inline-block;
}

#logo-sm {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 970px) {
    .banner {
        width: 420px;
        height: 100px;
    }

    .main-text-container {
        height: 65px;
        margin: 0px 0px 0px 25px;
        width: 200px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .main-text-container h1 {
        font-family: "Myriad Pro Bold Condensed", 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
        font-size: 27px;
        letter-spacing: -1.2px;
    }
    
    .main-text-container h2 {
        color: #a20000;
        font-family: "Quadon Bold";
        text-transform: capitalize;
        font-size: 33px;
    }

    .main-text-container a {
        display: none;
    }

    /* PHONE */
    .phone-container {
        width: 50px; 
        height: auto;
        overflow: hidden;
        margin-right: 5px;
    }

    .phone {
        position: relative;
        margin: 0 auto;
    }

    .phone img {
        position: absolute;
        z-index: 1000;
        height: 94px;
        margin-top: 2px;
    }

    /* VIDEO */
    #video {
        object-fit: fill;
        position: absolute;
        left: 0.9px;
        top: 5.8px;
        height: 87px;
        width: 42px;
    }

    /* LOGO */
    .company-logo-container {
        width: 95px;
        height: 65px;
        align-self: center;
        margin: 0 5px;
    }

    .company-logo-container img {
        width: 100%;
        height: auto;
        display: inline-block;
    }

    #logo-lg {
        display: none;
    }

    #logo-sm {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }
}

@media screen and (max-width: 728px) {
    .banner {
        width: 300px;
        height: 100px;
    }

    .main-text-container {
        height: 53px;
        margin: 0px 15px;
        width: 153px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .main-text-container h1 {
        font-family: "Myriad Pro Bold Condensed", 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: -1px;
    }
    
    .main-text-container h2 {
        color: #a20000;
        font-family: "Quadon Bold";
        text-transform: capitalize;
        font-size: 24px;
        line-height: -0.8px;
        margin-top: -10px;
    }

    .main-text-container a {
        display: none;
    }

    /* PHONE */
    .phone-container {
        width: 50px; 
        height: auto;
        overflow: hidden;
        margin-right: 6px;
    }

    .phone {
        position: relative;
        margin: 0 auto;
    }

    .phone img {
        position: absolute;
        z-index: 1000;
        height: 94px;
        margin-top: 2px;
    }

    /* VIDEO */
    #video {
        object-fit: fill;
        position: absolute;
        left: 0.9px;
        top: 5.8px;
        height: 87px;
        width: 42px;
    }

    /* LOGO */
    .company-logo-container {
        width: 75px;
        height: 53px;
        align-self: center;
        margin: 0 3px;
    }

    .company-logo-container img {
        width: 100%;
        height: auto;
        display: inline-block;
    }

    #logo-lg {
        display: none;
    }

    #logo-sm {
        display: flex;
        align-items: center;
    }
}